* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {                                                 
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;     
    background-image: url('https://images.unsplash.com/photo-1470071459604-3b5ec3a7fe05?fit=crop&w=2000&h=1000&q=80');
}
.container {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 70px;
    border-radius: 10px;
    text-align: left;
}
.input-cidade {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 25px;
    font-size: 20px;
    color: rgb(250, 246, 246);
    background-color: rgb(59, 59, 59);
    width: 250px;
}
.button {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 50px;
    background-color: rgb(59, 59, 59);
    cursor: pointer;    
    
    
}
.button-img {
    width: 20px;
    height: 20px;
}
.caixa-media {
    margin-top: 30px;
    color: rgb(250, 246, 246);                                                                                      
}
.cidade {
    color: rgb(250, 246, 246);
    font-size: 28px;
    font-weight: 300;
}
.tempo {
    font-size: 20px;
    color: rgb(255, 255, 255);
    margin-top: 10px;
}
.caixa-clima{
    display: flex;
    margin-top: 20px;   
    align-items: center;   
}
.texto-previsao {
    color: rgb(250, 246, 246);
    font-size: 18px;
    margin-left: 10px;
    text-transform: capitalize;
}
.umidade {
    color: rgb(250, 246, 246);
    font-size: 18px;
    margin-left: 10px;
}
.vento {
    color: rgb(250, 246, 246);
    font-size: 18px;
    margin-left: 10px;
    margin-top: 10px;
}